@font-face {
  font-family: "Nunito Sans";
  src: url(./fonts/NunitoSans/NunitoSans.ttf);
}
:root {
  --main-color: #4F8FF0;
  --secondary-color: #222;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: var(--secondary-color);
  background-color: #fff;
}

img {
  display: block;
}

.container {
  max-width: 1458px;
  width: 100%;
  margin: 0 auto;
  padding: 0 69px;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 24px;
  }
}
.container2 {
  max-width: 1458px;
  width: 100%;
  margin: 0 auto;
  padding: 0 69px;
  overflow: auto scroll;
}
.container2::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 700px) {
  .container2 {
    padding: 0 24px;
  }
}
@media screen and (max-width: 699px) {
  .container2 {
    padding: 0;
  }
}
.header {
  padding: 10px 0;
  background-color: #000;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contacts {
  display: flex;
  gap: 20px;
}
.header__phone, .header__mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
}
.header__phone_link, .header__mail_link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  transition: 0.3s;
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
}
.header__phone_link:hover, .header__mail_link:hover {
  color: var(--main-color);
}
.header__call-btn {
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
  color: var(--main-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .header__mail {
    display: none;
  }
}
@media screen and (max-width: 370px) {
  .header__phone {
    gap: 4px;
  }
  .header__phone_link {
    font-size: 12px;
  }
  .header__call-btn {
    font-size: 12px;
  }
}
.hr {
  margin-top: 10px;
  width: 50px;
  height: 3px;
  background-color: var(--main-color);
  border: 0;
}

.button {
  display: flex;
  padding: 14px 22px;
  align-items: flex-start;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  /* 16.8px */
  text-transform: uppercase;
  white-space: nowrap;
  max-height: 49px;
  transition: 0.3s;
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
}
.button:hover {
  background-color: #fff;
  color: var(--main-color);
}
.button_gray {
  color: var(--secondary-color);
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
}
.button_gray:hover {
  color: var(--secondary-color);
  background-color: #fff;
}

.nav__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main-nav {
  background-color: rgba(1, 1, 1, 0.76);
  padding: 15px 0;
  display: flex;
  white-space: nowrap;
}
.main-nav__list {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}
.main-nav__link {
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-color: transparent;
  transition: 0.3s;
}
.main-nav__link:hover {
  color: var(--main-color);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-color: var(--main-color);
}
.main-nav__title {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.main-nav__title__span {
  color: var(--main-color);
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  /* 42px */
  text-transform: uppercase;
  margin: 0;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1160px) {
  .main-nav__list {
    display: none;
  }
}
@media screen and (max-width: 1000px) {
  .main-nav__title__span {
    font-size: 22px;
  }
  .main-nav__title {
    font-size: 16px;
  }
}
@media screen and (max-width: 1000px) {
  .main-nav__title__span {
    font-size: 20px;
  }
  .main-nav__title {
    font-size: 16px;
  }
}
.slider {
  background-image: url("./img/background_header.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}
.slider__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0 192px 0;
}
.slider__title {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.slider__subtitle {
  color: var(--main-color);
  font-family: "Nunito Sans";
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.slider__description-text {
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 48px;
}
.slider__btn {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid var(--main-color);
  background: var(--main-color);
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
}
.slider__manage {
  position: relative;
  display: flex;
  padding-bottom: 36px;
  justify-content: flex-end;
}
.slider__manage_number_active {
  position: absolute;
  border: 2px solid var(--main-color);
  height: 40px;
  top: -8px;
  left: 0;
}
.slider__manage_number_inactive {
  position: absolute;
  border: 2px solid #FFF;
  height: 24px;
  top: 8px;
  left: 10px;
}
.slider__manage_number_inactive2 {
  position: absolute;
  border: 2px solid #FFF;
  height: 24px;
  top: 8px;
  left: 20px;
}
.slider__manage_button {
  display: flex;
  gap: 8px;
}

@media screen and (max-width: 1000px) {
  .slider__title {
    font-size: 24px;
  }
  .slider__subtitle {
    font-size: 50px;
  }
  .slider__description-text {
    font-size: 18px;
    margin-bottom: 46px;
  }
  .slider__text-wrapper {
    padding: 66px 0 36px 0;
  }
}
@media screen and (max-width: 710px) {
  .slider__manage {
    display: none;
  }
  .slider__text-wrapper {
    padding: 60px 0;
  }
  .slider__title {
    font-size: 18px;
  }
  .slider__subtitle {
    font-size: 30px;
    width: 344px;
  }
  .slider__description-text {
    font-size: 16px;
    margin-bottom: 32px;
  }
}
@media screen and (max-width: 350px) {
  .slider__subtitle {
    font-size: 20px;
    width: unset;
  }
}
.about {
  background-color: #fff;
  color: var(--secondary-color);
  padding: 80px 0;
}
.about__img {
  max-width: 535px;
}
.about__title {
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  /* 42px */
  margin-bottom: 10px;
}
.about__title_span {
  cursor: pointer;
  color: var(--main-color);
  text-decoration: none;
}
.about__main-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about__text {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  gap: 24px;
  max-width: 720px;
  line-height: 150%;
}
.about__btns {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

@media screen and (max-width: 1400px) {
  .about__pictures {
    display: flex;
    align-items: center;
  }
  .about__main-block {
    justify-content: flex-start;
    gap: 30px;
  }
  .about__title {
    font-size: 24px;
  }
  .about__title_span {
    font-size: 24px;
  }
  .about__btns {
    margin-top: 12px;
  }
}
@media screen and (max-width: 1030px) {
  .about {
    padding: 60px 0;
  }
  .about__pictures {
    display: none;
  }
  .about__img {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .about {
    padding: 40px 0;
  }
  .about__title {
    font-size: 20px;
  }
  .about__title_span {
    font-size: 20px;
  }
  .about__btns {
    margin-top: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.service {
  background-color: #F7F7F7;
  padding: 80px 0;
}
.service__hr {
  margin-bottom: 24px;
}
.service__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__title {
  font-family: "Nunito Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: 0.5s;
}
.service__text {
  max-width: 920px;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 24px;
  margin-bottom: 48px;
  transition: 0.5s;
}
.service__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(313px, 1fr));
  gap: 24px;
  row-gap: 38px;
}
.service__card,
.service .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 32px;
  background-color: #fff;
  transition: 0.5s;
  flex: 0 0 250px;
}
.service__card:hover,
.service .card:hover {
  background: var(--main-color);
  cursor: url("./img/cursor/cursor.svg"), auto;
}
.service__card:hover .card__title,
.service .card:hover .card__title {
  color: #FFF;
}
.service__card:hover .card__text,
.service .card:hover .card__text {
  color: #FFF;
}
.service__card:hover .card__text-mobile,
.service .card:hover .card__text-mobile {
  color: #FFF;
}
.service__card:hover .card__icon path,
.service .card:hover .card__icon path {
  fill: #FFF;
}
.service__card__icon,
.service .card__icon {
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
}
.service__card__title,
.service .card__title {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 10px;
}
.service__card__text,
.service .card__text {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 360px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.service__card__text-mobile,
.service .card__text-mobile {
  display: none;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 360px;
}
.service__button {
  margin: 48px auto 0 auto;
}

.border_tr,
.border_tl,
.border_br,
.border_bl {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
}

.border_tr {
  top: 20px;
  right: 32px;
  border-left: 0;
  border-bottom: 0;
}

.border_tl {
  left: 20px;
  top: 20px;
  border-right: 0;
  border-bottom: 0;
}

.border_bl {
  bottom: 20px;
  left: 20px;
  border-right: 0;
  border-top: 0;
}

.border_br {
  bottom: 20px;
  right: 32px;
  border-left: 0;
  border-top: 0;
}

@media screen and (max-width: 970px) {
  .border_tr {
    top: 20px;
    right: 20px;
    border-left: 0;
    border-bottom: 0;
  }
  .border_tl {
    left: 20px;
    top: 20px;
    border-right: 0;
    border-bottom: 0;
  }
  .border_bl {
    bottom: 20px;
    left: 20px;
    border-right: 0;
    border-top: 0;
  }
  .border_br {
    bottom: 20px;
    right: 20px;
    border-left: 0;
    border-top: 0;
  }
  .service {
    padding: 60px 0;
  }
  .service .card__title {
    line-height: 120%;
  }
  .service__cards {
    row-gap: 24px;
  }
  .service__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 850px) {
  .service__card,
  .service .card {
    padding: 30px 32px 40px 32px;
  }
}
@media screen and (max-width: 800px) {
  .service__cards {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}
@media screen and (max-width: 700px) {
  .service__hr {
    margin-bottom: 16px;
  }
  .border_tr {
    top: 7px;
    right: 7px;
    border-left: 0;
    border-bottom: 0;
  }
  .border_tl {
    left: 7px;
    top: 7px;
    border-right: 0;
    border-bottom: 0;
  }
  .border_bl {
    bottom: 7px;
    left: 7px;
    border-right: 0;
    border-top: 0;
  }
  .border_br {
    bottom: 7px;
    right: 7px;
    border-left: 0;
    border-top: 0;
  }
  .text-mobile {
    max-width: 218px;
    height: 51px;
  }
  .service__cards {
    display: inline-flex;
    margin: 0 24px;
  }
  .service__card,
  .service .card {
    padding: 24px 16px 32px 16px;
    max-width: 250px;
    width: 250px;
    max-height: 215px;
    height: 100%;
  }
  .service {
    padding: 40px 0;
  }
}
@media screen and (max-width: 600px) {
  .service__text {
    font-size: 14px;
    margin-bottom: 24px;
    margin-top: 16px;
  }
  .service__title {
    font-size: 20px;
  }
}
.title {
  font-family: "Nunito Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}

.lawyers {
  background-color: #F7F7F7;
  padding: 80px 0;
}
.lawyers__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lawyers__title {
  margin-bottom: 10px;
}
.lawyers__hr {
  margin-bottom: 24px;
}
.lawyers__text {
  max-width: 920px;
  margin-bottom: 48px;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  line-height: 120%;
}
.lawyers__cards {
  display: inline-flex;
  justify-content: space-between;
  gap: 24px;
  margin-right: 24px;
}
.lawyers__card,
.lawyers .card {
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  width: 100%;
  cursor: url("./img/cursor/cursor_lawyers.svg"), auto;
}
.lawyers__card:hover .card__hover,
.lawyers .card:hover .card__hover {
  opacity: 1;
}
.lawyers__card:hover .border_tr_lawyers,
.lawyers .card:hover .border_tr_lawyers {
  opacity: 1;
}
.lawyers__card:hover .border_tl_lawyers,
.lawyers .card:hover .border_tl_lawyers {
  opacity: 1;
}
.lawyers__card:hover .border_br_lawyers,
.lawyers .card:hover .border_br_lawyers {
  opacity: 1;
}
.lawyers__card:hover .border_bl_lawyers,
.lawyers .card:hover .border_bl_lawyers {
  opacity: 1;
}
.lawyers__card__hover,
.lawyers .card__hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.lawyers__card__seniority,
.lawyers .card__seniority {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 120%;
}
.lawyers__card__portrait,
.lawyers .card__portrait {
  display: block;
  max-height: 320px;
  height: 100%;
  overflow: hidden;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 312px;
}
.lawyers__card__description,
.lawyers .card__description {
  margin-top: 40px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  max-width: 265px;
  margin-bottom: 40px;
}
.lawyers__card__description_hover,
.lawyers .card__description_hover {
  margin-top: 40px;
  color: #000;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  max-width: 265px;
  margin-bottom: 40px;
}
.lawyers__card__name,
.lawyers .card__name {
  margin-top: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.lawyers__card__name_hover,
.lawyers .card__name_hover {
  margin-top: 83px;
}
.lawyers__card__job,
.lawyers .card__job {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
  margin-bottom: 24px;
}
.lawyers__card__job_hover,
.lawyers .card__job_hover {
  margin-bottom: 0;
}

.border_tr_lawyers,
.border_tl_lawyers,
.border_br_lawyers,
.border_bl_lawyers {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #4F8FF0;
  z-index: 20;
  opacity: 0;
  transition: 0.5s;
}

.border_tr_lawyers {
  top: 20px;
  right: 20px;
  border-left: 0;
  border-bottom: 0;
}

.border_tl_lawyers {
  left: 20px;
  top: 20px;
  border-right: 0;
  border-bottom: 0;
}

.border_bl_lawyers {
  bottom: 20px;
  left: 20px;
  border-right: 0;
  border-top: 0;
}

.border_br_lawyers {
  bottom: 20px;
  right: 20px;
  border-left: 0;
  border-top: 0;
}

@media screen and (max-width: 1000px) {
  .lawyers {
    padding: 60px 0;
    box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
  }
  .lawyers .card {
    max-width: 300px;
  }
  .lawyers .card__portrait {
    max-width: 300px;
  }
}
@media screen and (max-width: 699px) {
  .lawyers {
    padding: 40px 0 46px 0;
  }
  .lawyers__cards {
    margin: 0 24px;
  }
  .lawyers .card__portrait {
    max-width: 250px;
    max-height: 235px;
  }
  .lawyers .card {
    max-width: 250px;
    max-height: 348px;
  }
  .lawyers .card__description_hover {
    margin-top: 20px;
    font-weight: normal;
  }
  .lawyers .card__name_hover {
    margin-top: 36px;
  }
  .border_tr_lawyers {
    top: 16px;
    right: 16px;
  }
  .border_tl_lawyers {
    left: 16px;
    top: 16px;
  }
  .border_bl_lawyers {
    bottom: 16px;
    left: 16px;
  }
  .border_br_lawyers {
    bottom: 16px;
    right: 16px;
  }
}
.feedback {
  background-image: url("/img/bgfeedback.jpg");
  padding: 80px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
.feedback__wrapper {
  display: flex;
  justify-content: space-between;
}
.feedback__slider {
  display: flex;
  gap: 8px;
  align-items: center;
}
.feedback__slider_element path {
  fill: var(--main-color);
}
.feedback__slider_element line {
  stroke: var(--main-color);
}
.feedback__title {
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.feedback__hr {
  margin-bottom: 48px;
}
.feedback__cards {
  display: inline-flex;
  gap: 24px;
  margin-bottom: 32px;
  margin-right: 24px;
}
.feedback__card {
  display: flex;
  width: 648px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  background: #FFF;
  box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);
}
.feedback__card_img {
  border-radius: 100px;
  max-width: 80px;
}
.feedback__card_header {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
}
.feedback__card_about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  flex: 1 0 0;
}
.feedback__card_company {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.feedback__card_name {
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.feedback__card_text {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.feedback__buttons {
  display: flex;
  gap: 24px;
}

@media screen and (max-width: 1000px) {
  .feedback__card {
    width: 576px;
  }
  .feedback__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 699px) {
  .feedback__cards {
    margin-left: 24px;
    margin-right: 30px;
  }
  .feedback__title {
    font-size: 20px;
  }
}
@media screen and (max-width: 530px) {
  .feedback__slider {
    display: none;
  }
}
@media screen and (max-width: 450px) {
  .feedback__card {
    width: 340px;
    padding: 24px;
    margin: 0 auto;
  }
  .feedback__card_header {
    gap: 16px;
  }
  .feedback__card_icon {
    display: none;
  }
  .feedback__buttons {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
}
.useful {
  padding: 80px 0;
}
.useful__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.useful__title {
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}
.useful__hr {
  margin-bottom: 24px;
}
.useful__text {
  max-width: 920px;
  margin-bottom: 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}
.useful__cards {
  display: inline-flex;
  justify-content: space-between;
  gap: 24px;
  margin-right: 24px;
  margin-bottom: 83px;
}
.useful__card {
  position: relative;
  width: 424px;
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
}
.useful__card:hover .useful__card_hover {
  opacity: 1;
}
.useful__card:hover .useful__card_eye-hover {
  opacity: 1;
}
.useful__card:hover .border_tr_useful {
  opacity: 1;
}
.useful__card:hover .border_tl_useful {
  opacity: 1;
}
.useful__card:hover .border_br_useful {
  opacity: 1;
}
.useful__card:hover .border_bl_useful {
  opacity: 1;
}
.useful__card:hover .useful__card_title {
  color: #4F8FF0;
}
.useful__card_hover {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(79, 143, 240, 0.4);
  opacity: 0;
  width: 424px;
  height: 270px;
  transition: 0.5s;
}
.useful__card_eye {
  width: 20.583px;
  height: 20px;
}
.useful__card_eye-hover {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  top: 135px;
  transform: translate(-50%, -50%);
  opacity: 0;
  width: 41.165px;
  height: 40px;
  background-color: #FFF;
  transition: 0.5s;
}
.useful__card_img {
  display: block;
  margin-bottom: 24.5px;
  width: 424px;
  height: 270px;
}
.useful__card_title {
  margin-bottom: 16px;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  transition: 0.5s;
}
.useful__card_date {
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
}
.useful__card_description {
  margin-top: 16px;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
}
.useful__button {
  margin: 0 auto;
}
.useful .border_tr_useful,
.useful .border_tl_useful,
.useful .border_br_useful,
.useful .border_bl_useful {
  position: absolute;
  width: 25px;
  height: 25px;
  border: 1px solid #FFF;
  z-index: 20;
  opacity: 0;
  transition: 0.5s;
}
.useful .border_tr_useful {
  top: 20px;
  right: 32px;
  border-left: 0;
  border-bottom: 0;
}
.useful .border_tl_useful {
  left: 20px;
  top: 20px;
  border-right: 0;
  border-bottom: 0;
}
.useful .border_bl_useful {
  bottom: 206px;
  left: 20px;
  border-right: 0;
  border-top: 0;
}
.useful .border_br_useful {
  bottom: 206px;
  right: 32px;
  border-left: 0;
  border-top: 0;
}

@media screen and (max-width: 1000px) {
  .useful {
    padding: 60px 0;
  }
  .useful__title {
    font-size: 24px;
  }
  .useful__text {
    margin-bottom: 29px;
  }
  .useful__cards {
    margin-bottom: 64px;
  }
  .useful__card {
    width: 336px;
  }
  .useful__card_hover {
    width: 336px;
  }
  .useful__card_title {
    margin-top: 16px;
  }
  .useful__card_img {
    width: 336px;
    height: 270px;
  }
  .useful .border_tr_useful {
    top: 20px;
    right: 20px;
    border-left: 0;
    border-bottom: 0;
  }
  .useful .border_br_useful {
    bottom: 222px;
    right: 20px;
    border-left: 0;
    border-top: 0;
  }
  .useful .border_bl_useful {
    bottom: 222px;
    right: 20px;
    border-top: 0;
  }
}
@media screen and (max-width: 699px) {
  .useful {
    padding: 40px 0;
  }
  .useful__title {
    font-size: 20px;
  }
  .useful__text {
    font-size: 14px;
    margin-bottom: 24px;
  }
  .useful__cards {
    margin: 0 24px;
    margin-bottom: 79px;
  }
  .useful__card {
    width: 250px;
  }
  .useful__card_hover {
    width: 250px;
    height: 200px;
  }
  .useful__card_eye-hover {
    top: 100px;
  }
  .useful__card_title {
    font-size: 14px;
  }
  .useful__card_img {
    width: 250px;
    height: 200px;
  }
  .useful .border_tr_useful {
    top: 20px;
    right: 20px;
    border-left: 0;
    border-bottom: 0;
  }
  .useful .border_br_useful {
    bottom: 270px;
    right: 20px;
    border-left: 0;
    border-top: 0;
  }
  .useful .border_bl_useful {
    bottom: 270px;
    right: 20px;
    border-top: 0;
  }
}
.footer {
  padding: 80px 0;
  background-color: var(--secondary-color);
}
.footer__wrapper {
  display: flex;
}
.footer__hr {
  margin-bottom: 48px;
  width: 100%;
  height: 1px;
  opacity: 0.2;
  background: #8C8C8C;
  border: 0;
}
.footer__about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}
.footer__about_text {
  max-width: 862px;
  color: #F8F5F4;
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-transform: lowercase;
}
.footer__company {
  display: flex;
  flex-direction: column;
}
.footer__company_title {
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
  color: #4F8FF0;
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: -10px;
}
.footer__company_text {
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
  color: #FFF;
  font-size: 20px;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
  text-decoration: none;
}
.footer__contacts {
  display: flex;
  width: 419px;
  margin-right: 141px;
}
.footer__addresses {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 419px;
}
.footer__addresses_about {
  color: #8C8C8C;
  font-size: 12px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
}
.footer__addresses_contact {
  text-decoration: none;
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  transition: 0.3s;
}
.footer__addresses_contact:hover {
  color: #4F8FF0;
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
}
.footer__addresses_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  background: #2C2C2C;
}
.footer__locate {
  display: flex;
  gap: 24px;
}
.footer__locate_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
}
.footer__telephone {
  display: flex;
  gap: 24px;
}
.footer__telephone_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__email {
  display: flex;
  gap: 24px;
}
.footer__email_text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer__links {
  display: flex;
  width: 312px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  margin-right: 24px;
}
.footer__links_link {
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 120%;
  text-transform: uppercase;
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
  transition: 0.3s;
}
.footer__links_link:hover {
  color: #4F8FF0;
}
.footer__leader_text {
  margin-bottom: 24px;
  max-width: 424px;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
.footer__lawyer {
  margin-bottom: 16px;
  display: flex;
  width: 424px;
  align-items: center;
  gap: 24px;
}
.footer__lawyer_leader {
  display: flex;
  flex-direction: column;
}
.footer__lawyer_name {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
}
.footer__lawyer_about {
  color: #FFF;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
}
.footer__lawyer_img {
  width: 65px;
  height: 65px;
  flex-shrink: 0;
  border-radius: 100px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media screen and (max-width: 1350px) {
  .footer__contacts {
    margin-right: 0;
  }
  .footer__about_text {
    display: none;
  }
  .footer__links {
    display: none;
  }
  .footer__wrapper {
    justify-content: space-between;
  }
}
@media screen and (max-width: 1000px) {
  .footer {
    padding: 60px 0;
  }
  .footer__about {
    margin-bottom: 24px;
  }
  .footer__addresses {
    gap: 34px;
  }
  .footer__addresses_about {
    font-size: 14px;
  }
  .footer__addresses_contact {
    font-size: 14px;
  }
  .footer__addresses_img {
    width: 45px;
    height: 45px;
  }
  .footer__addresses_ico {
    width: 24px;
    height: 24px;
  }
  .footer__leader {
    max-width: 334px;
  }
  .footer__contacts {
    width: unset;
  }
  .footer__locate {
    gap: 16px;
  }
  .footer__telephone {
    gap: 16px;
  }
  .footer__email {
    gap: 16px;
  }
  .footer__lawyer {
    width: unset;
  }
}
@media screen and (max-width: 795px) {
  .footer__wrapper {
    gap: 20px;
  }
}
@media screen and (max-width: 600px) {
  .footer {
    padding: 40px 0;
  }
  .footer__about {
    justify-content: center;
  }
  .footer__hr {
    margin-bottom: 24px;
  }
  .footer__wrapper {
    flex-direction: column;
    gap: 40px;
  }
  .footer__addresses {
    gap: 16px;
  }
}
.rights {
  padding: 16px 0;
  background: #181818;
}
.rights__wrapper {
  display: flex;
  justify-content: space-between;
}
.rights__text {
  text-decoration: none;
  color: #FFF;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  cursor: url("./img/cursor/cursor_useful.svg"), auto;
  transition: 0.3s;
}
.rights__text:hover {
  color: #4F8FF0;
}

@media screen and (max-width: 550px) {
  .rights__wrapper {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 340px) {
  .rights__text {
    font-size: 12px;
  }
}
.burger__line {
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #FFF;
  transition: 0.5s;
  top: 8px;
  right: 7px;
}
.burger__line2 {
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #FFF;
  transition: 0.5s;
  top: 0px;
}
.burger__line3 {
  display: block;
  position: absolute;
  width: 15px;
  height: 2px;
  background-color: #FFF;
  transition: 0.5s;
  top: 16px;
}
.burger__checkbox {
  display: none;
}
.burger__label {
  z-index: 10;
  display: block;
  height: 30px;
  width: 30px;
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
.burger__line3 {
  content: "";
  width: 24px;
  left: 0;
}
.burger__line2 {
  content: "";
  width: 24px;
  left: 0;
}
.burger__menu {
  position: fixed;
  background-color: white;
  top: 0;
  left: -110%;
  height: 100vh;
  width: 100%;
  padding: 0;
  list-style: none;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  background-color: var(--secondary-color);
  padding: 50px 0 0 26px;
  z-index: 9;
}
.burger__menu_header {
  display: flex;
  width: 100%;
  height: 68px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: var(--secondary-color);
}
.burger__menu_title {
  color: #598D66;
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
}
.burger__menu_links {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: flex-start;
}

.head__burger {
  top: 90px;
  position: absolute;
  right: 30px;
  width: 33px;
  height: 19px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: none;
  cursor: pointer;
  display: none;
}

.menu__a {
  color: #fff;
  text-decoration-color: transparent;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  transition: 0.3s;
}
.menu__a:hover {
  color: #4F8FF0;
  text-decoration-color: #4F8FF0;
}

.head__burger input:checked ~ .burger__menu {
  left: 0;
}

.head__burger input:checked ~ .burger__label .burger__line2 {
  transform: rotate(135deg);
  top: 8px;
}

.head__burger input:checked ~ .burger__label .burger__line {
  transform: rotate(45deg);
  top: 11px;
  width: 15px;
}

.head__burger input:checked ~ .burger__label .burger__line3 {
  transform: rotate(-135deg);
  top: 8px;
}

@media screen and (max-width: 1160px) {
  .head__burger {
    display: block;
  }
  .burger__line {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .head__burger {
    top: 80px;
  }
}/*# sourceMappingURL=style.css.map */