@font-face {
  font-family: "Nunito Sans";
  src: url(./fonts/NunitoSans/NunitoSans.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #fff;
  background-color: #000;
}

.container {
  max-width: 1458px;
  width: 100%;
  margin: 0 auto;
  padding: 0 69px;
}

@media screen and (max-width: 540px) {
  .container {
    padding: 0 24px;
  }
}
.header {
  padding: 10px 0;
  background-color: #000;
  display: none;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contacts {
  display: flex;
  gap: 20px;
}
.header__phone, .header__mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
}
.header__phone_link, .header__mail_link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.header__call-btn {
  color: #4F8FF0;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.hr {
  width: 50px;
  height: 3px;
  background-color: #4F8FF0;
  border: 0;
}

.button {
  display: flex;
  padding: 16px 24px;
  align-items: flex-start;
  border: 2px solid #4F8FF0;
  background-color: #4F8FF0;
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  /* 16.8px */
  text-transform: uppercase;
  white-space: nowrap;
  max-height: 49px;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: #4F8FF0;
}
.button_gray {
  color: #222;
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
}
.button_gray:hover {
  color: #222;
  background-color: #fff;
}

.nav__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main-nav {
  background-color: rgba(1, 1, 1, 0.76);
  padding: 15px 0;
  display: flex;
  white-space: nowrap;
}
.main-nav .hero__wrapper {
  display: flex;
  justify-content: space-between;
}
.main-nav__list {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}
.main-nav__link {
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  transition: 0.3s;
}
.main-nav__link:hover {
  color: #4F8FF0;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
}
.main-nav__title {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.main-nav__title__span {
  color: #4F8FF0;
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  /* 42px */
  text-transform: uppercase;
  margin: 0;
}

.hero {
  background-image: url("./img/background_header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 820px;
  text-align: center;
  display: none;
}
.hero__title {
  margin-top: 150px;
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.hero__subtitle {
  color: #4F8FF0;
  font-family: "Nunito Sans";
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.hero__text {
  margin-bottom: 48px;
}
.hero__description-text {
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 48px;
}
.hero__btn {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid #4F8FF0;
  background: #4F8FF0;
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
}

.about {
  background-color: #fff;
  color: #222;
  padding: 80px 0;
}
.about__title {
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  /* 42px */
  margin-bottom: 10px;
}
.about__title_span {
  cursor: pointer;
  color: #4F8FF0;
  text-decoration: none;
}
.about__main-block {
  display: flex;
  justify-content: space-between;
}
.about__text {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  gap: 24px;
  max-width: 720px;
  line-height: 150%;
}
.about__btns {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}
.about__img {
  max-height: 359px;
}

@media screen and (max-width: 1400px) {
  .about__img {
    display: none;
  }
  .about__main-block {
    justify-content: center;
  }
  .about__title {
    font-size: 24px;
  }
  .about__title_span {
    font-size: 24px;
  }
  .about__btns {
    margin-top: 12px;
  }
}
@media screen and (max-width: 540px) {
  .about__title {
    font-size: 20px;
  }
  .about__title_span {
    font-size: 20px;
  }
  .about__btns {
    margin-top: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}/*# sourceMappingURL=style.css.map */