@font-face {
    font-family: 'Nunito Sans';
    src: url(./fonts/NunitoSans/NunitoSans.ttf);
}

@import url(./styles/container.scss);
@import url(./styles/header.scss);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans', sans-serif;
    color: #fff;
    background-color: #000;
}

.hr {
    width: 50px;
    height: 3px;
    background-color: #4F8FF0;
    border: 0;
}

.container {
    max-width: 1458px;
    width: 100%;
    margin: 0 auto;
    padding: 0 69px;
}

.nav__title {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.button {
    display: flex;
    padding: 16px 24px;
    align-items: flex-start;
    border: 2px solid #4F8FF0;
    background-color: #4F8FF0;
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    /* 16.8px */
    text-transform: uppercase;
    white-space: nowrap;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: #fff;
        color: #4F8FF0;
    }
}

.button_gray {
    max-width: 161px;
    color: #222;
    border: 2px solid #E6E6E6;
    background: #E6E6E6;

    &:hover {
        color: #222;
        background-color: #fff;
    }
}

.header {
    padding: 10px 0;
    background-color: #000;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        display: flex;
        gap: 20px;
    }

    &__phone,
    &__mail {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        gap: 8px;

        &_link {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }
    }

    &__call-btn {
        color: #4F8FF0;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
}

.main-nav {
    background-color: rgba(1, 1, 1, 0.76);
    ;
    padding: 15px 0;
    display: flex;
    white-space: nowrap;

    .container {
        display: flex;
        justify-content: space-between;
    }

    &__list {
        list-style: none;
        display: flex;
        gap: 32px;
        align-items: center;

    }

    &__link {
        color: #FFF;
        text-align: center;
        font-family: "Nunito Sans";
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
        text-decoration: none;
        transition: 0.3s;

        &:hover {
            color: #4F8FF0;
            text-align: center;
            font-family: "Nunito Sans";
            font-size: 18px;
            font-weight: 700;
            line-height: 120%;
            text-decoration-line: underline;
        }
    }

    &__title {
        color: #FFF;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-weight: 900;
        line-height: 150%;
        text-transform: lowercase;

        &__span {
            color: #4F8FF0;
            font-family: "Nunito Sans";
            font-size: 28px;
            font-weight: 900;
            line-height: 150%;
            /* 42px */
            text-transform: uppercase;
            margin: 0;
        }
    }
}

.hero {
    background-image: url('./img/background_header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 820px;
    text-align: center;

    &__title {
        margin-top: 150px;
        color: #FFF;
        font-family: "Nunito Sans";
        font-size: 30px;
        font-weight: 300;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__subtitle {
        color: #4F8FF0;
        font-family: "Nunito Sans";
        font-size: 56px;
        font-weight: 600;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__text {
        margin-bottom: 48px;
    }

    &__description-text {
        color: #FFF;
        text-align: center;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 48px;
    }

    &__btn {
        display: inline-flex;
        padding: 16px 24px;
        align-items: flex-start;
        gap: 10px;
        border: 2px solid #4F8FF0;
        background: #4F8FF0;
        color: #FFF;
        text-align: center;
        font-family: "Nunito Sans";
        font-size: 14px;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        text-decoration: none;
    }
}

.about {
    background-color: #fff;
    color: #222;
    padding: 80px 0;

    &__title {
        font-family: "Nunito Sans";
        font-size: 28px;
        font-weight: 800;
        line-height: 150%;
        /* 42px */
        margin-bottom: 10px;

        &_span {
            cursor: pointer;
            color: #4F8FF0;
            text-decoration: none;
        }
    }

    &__main-block {
        display: flex;
        justify-content: space-between;
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-family: "Nunito Sans";
        font-size: 16px;
        font-weight: 400;
        gap: 24px;
        max-width: 720px;
        line-height: 150%;
        max-height: 424px;
    }

    &__btns {
        display: flex;
        gap: 24px;
        margin-top: 8px;
        max-height: 49px;
    }
    
    &__img{
        max-height: 359px;
    }
}