@font-face {
  font-family: "Nunito Sans";
  src: url(./fonts/NunitoSans/NunitoSans.ttf);
}
:root {
  --main-color: #4F8FF0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito Sans", sans-serif;
  color: #222;
  background-color: #fff;
}

img {
  display: block;
}

.container {
  max-width: 1458px;
  width: 100%;
  margin: 0 auto;
  padding: 0 69px;
}

@media screen and (max-width: 700px) {
  .container {
    padding: 0 24px;
  }
}
.container2 {
  max-width: 1458px;
  width: 100%;
  margin: 0 auto;
  padding: 0 69px;
  overflow: scroll;
}
.container2::-webkit-scrollbar {
  width: 0;
  height: 0;
}

@media screen and (max-width: 700px) {
  .container2 {
    padding: 0 24px;
  }
}
@media screen and (max-width: 699px) {
  .container2 {
    padding: 0;
  }
}
.header {
  padding: 10px 0;
  background-color: #000;
  display: none;
}
.header .header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__contacts {
  display: flex;
  gap: 20px;
}
.header__phone, .header__mail {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  gap: 8px;
}
.header__phone_link, .header__mail_link {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
}
.header__call-btn {
  color: var(--main-color);
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.hr {
  width: 50px;
  height: 3px;
  background-color: var(--main-color);
  border: 0;
}

.button {
  display: flex;
  padding: 14px 22px;
  align-items: flex-start;
  border: 2px solid var(--main-color);
  background-color: var(--main-color);
  gap: 10px;
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: 120%;
  /* 16.8px */
  text-transform: uppercase;
  white-space: nowrap;
  max-height: 49px;
  transition: 0.3s;
  cursor: pointer;
}
.button:hover {
  background-color: #fff;
  color: var(--main-color);
}
.button_gray {
  color: #222;
  border: 2px solid #E6E6E6;
  background: #E6E6E6;
}
.button_gray:hover {
  color: #222;
  background-color: #fff;
}

.nav__title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.main-nav {
  background-color: rgba(1, 1, 1, 0.76);
  padding: 15px 0;
  display: flex;
  white-space: nowrap;
}
.main-nav__list {
  list-style: none;
  display: flex;
  gap: 32px;
  align-items: center;
}
.main-nav__link {
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-decoration: none;
  transition: 0.3s;
}
.main-nav__link:hover {
  color: var(--main-color);
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
}
.main-nav__title {
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 900;
  line-height: 150%;
  text-transform: lowercase;
}
.main-nav__title__span {
  color: var(--main-color);
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 900;
  line-height: 150%;
  /* 42px */
  text-transform: uppercase;
  margin: 0;
}

.slider__wrapper {
  display: flex;
  justify-content: space-between;
}

.slider {
  background-image: url("./img/background_header.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  max-height: 820px;
  text-align: center;
  display: none;
}
.slider__title {
  margin-top: 150px;
  color: #FFF;
  font-family: "Nunito Sans";
  font-size: 30px;
  font-weight: 300;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.slider__subtitle {
  color: var(--main-color);
  font-family: "Nunito Sans";
  font-size: 56px;
  font-weight: 600;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.slider__text {
  margin-bottom: 48px;
}
.slider__description-text {
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  margin-bottom: 48px;
}
.slider__btn {
  display: inline-flex;
  padding: 16px 24px;
  align-items: flex-start;
  gap: 10px;
  border: 2px solid var(--main-color);
  background: var(--main-color);
  color: #FFF;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 900;
  line-height: 120%;
  text-transform: uppercase;
  text-decoration: none;
}

.about {
  background-color: #fff;
  color: #222;
  padding: 80px 0;
}
.about__title {
  font-family: "Nunito Sans";
  font-size: 28px;
  font-weight: 800;
  line-height: 150%;
  /* 42px */
  margin-bottom: 10px;
}
.about__title_span {
  cursor: pointer;
  color: var(--main-color);
  text-decoration: none;
}
.about__main-block {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.about__text {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 400;
  gap: 24px;
  max-width: 720px;
  line-height: 150%;
}
.about__btns {
  display: flex;
  gap: 24px;
  margin-top: 8px;
}

@media screen and (max-width: 1400px) {
  .about__pictures {
    display: flex;
    align-items: center;
  }
  .about__main-block {
    justify-content: flex-start;
    gap: 30px;
  }
  .about__title {
    font-size: 24px;
  }
  .about__title_span {
    font-size: 24px;
  }
  .about__btns {
    margin-top: 12px;
  }
}
@media screen and (max-width: 1000px) {
  .about {
    padding: 60px 0;
  }
  .about__pictures {
    display: none;
  }
  .about__img {
    display: none;
  }
}
@media screen and (max-width: 540px) {
  .about {
    padding: 40px 0;
  }
  .about__title {
    font-size: 20px;
  }
  .about__title_span {
    font-size: 20px;
  }
  .about__btns {
    margin-top: 16px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.service {
  background-color: #F7F7F7;
  padding: 80px 0;
}
.service__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.service__title {
  font-family: "Nunito Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
  margin-bottom: 10px;
  transition: 0.5s;
}
.service__text {
  max-width: 920px;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  margin-top: 24px;
  margin-bottom: 48px;
  transition: 0.5s;
}
.service__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(313px, 1fr));
  gap: 24px;
  row-gap: 38px;
}
.service__card,
.service .card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 32px;
  background-color: #fff;
  transition: 0.5s;
}
.service__card:hover,
.service .card:hover {
  background: var(--main-color);
  cursor: url("./img/cursor/cursor.svg"), auto;
}
.service__card:hover .card__title,
.service .card:hover .card__title {
  color: #FFF;
}
.service__card:hover .card__text,
.service .card:hover .card__text {
  color: #FFF;
}
.service__card:hover .card__text-mobile,
.service .card:hover .card__text-mobile {
  color: #FFF;
}
.service__card:hover .card__icon path,
.service .card:hover .card__icon path {
  fill: #FFF;
}
.service__card__icon,
.service .card__icon {
  width: 35px;
  height: 35px;
  margin-bottom: 15px;
}
.service__card__title,
.service .card__title {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  margin-bottom: 10px;
}
.service__card__text,
.service .card__text {
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 360px;
}
.service__card__text-mobile,
.service .card__text-mobile {
  display: none;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  max-width: 360px;
}
.service__button {
  margin: 48px auto 0 auto;
}

.border_tr, .border_tl, .border_br, .border_bl {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 1px solid #fff;
}

.border_tr {
  top: 20px;
  right: 32px;
  border-left: 0;
  border-bottom: 0;
}

.border_tl {
  left: 20px;
  top: 20px;
  border-right: 0;
  border-bottom: 0;
}

.border_bl {
  bottom: 20px;
  left: 20px;
  border-right: 0;
  border-top: 0;
}

.border_br {
  bottom: 20px;
  right: 32px;
  border-left: 0;
  border-top: 0;
}

@media screen and (max-width: 970px) {
  .border_tr {
    top: 20px;
    right: 20px;
    border-left: 0;
    border-bottom: 0;
  }
  .border_tl {
    left: 20px;
    top: 20px;
    border-right: 0;
    border-bottom: 0;
  }
  .border_bl {
    bottom: 20px;
    left: 20px;
    border-right: 0;
    border-top: 0;
  }
  .border_br {
    bottom: 20px;
    right: 20px;
    border-left: 0;
    border-top: 0;
  }
  .service {
    padding: 60px 0;
  }
  .service .card__title {
    line-height: 120%;
  }
  .service__cards {
    row-gap: 24px;
  }
  .service__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 850px) {
  .service__card,
  .service .card {
    padding: 30px 32px 40px 32px;
  }
}
@media screen and (max-width: 800px) {
  .service__cards {
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  }
}
@media screen and (max-width: 700px) {
  .border_tr {
    top: 7px;
    right: 7px;
    border-left: 0;
    border-bottom: 0;
  }
  .border_tl {
    left: 7px;
    top: 7px;
    border-right: 0;
    border-bottom: 0;
  }
  .border_bl {
    bottom: 7px;
    left: 7px;
    border-right: 0;
    border-top: 0;
  }
  .border_br {
    bottom: 7px;
    right: 7px;
    border-left: 0;
    border-top: 0;
  }
  .service__card__text,
  .service .card__text {
    display: none;
  }
  .service__card__text-mobile, .service .card__text-mobile {
    display: block;
    height: 51px;
    align-self: stretch;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
    /* 16.8px */
    text-overflow: ellipsis;
  }
  .text-mobile {
    max-width: 218px;
    height: 51px;
  }
  .service__cards {
    display: inline-flex;
    margin: 0 24px;
  }
  .service__card,
  .service .card {
    padding: 24px 16px 32px 16px;
    max-width: 250px;
    width: 250px;
    max-height: 215px;
    height: 100%;
  }
  .service {
    padding: 40px 0;
  }
}
@media screen and (max-width: 600px) {
  .service__text {
    font-size: 14px;
    margin-bottom: 24px;
    margin-top: 16px;
  }
  .service__title {
    font-size: 20px;
  }
}
.title {
  font-family: "Nunito Sans";
  font-size: 28px;
  font-style: normal;
  font-weight: 800;
  line-height: 150%;
  text-transform: uppercase;
}

.lawyers {
  background-color: #F7F7F7;
  padding: 80px 0;
}
.lawyers__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.lawyers__title {
  margin-bottom: 10px;
}
.lawyers__hr {
  margin-bottom: 24px;
}
.lawyers__text {
  max-width: 920px;
  margin-bottom: 48px;
  text-align: center;
  font-family: "Nunito Sans";
  font-size: 16px;
  line-height: 120%;
}
.lawyers__cards {
  display: flex;
  gap: 24px;
}
.lawyers__card,
.lawyers .card {
  position: relative;
  background-color: #fff;
  box-shadow: 2px 2px 12px 0px rgba(33, 33, 33, 0.12);
}
.lawyers__card:hover .card__hover,
.lawyers .card:hover .card__hover {
  opacity: 1;
}
.lawyers__card__hover,
.lawyers .card__hover {
  position: absolute;
  background-color: #fff;
  opacity: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}
.lawyers__card__portrait,
.lawyers .card__portrait {
  display: block;
}
.lawyers__card__name,
.lawyers .card__name {
  margin-top: 24px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
}
.lawyers__card__job,
.lawyers .card__job {
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  line-height: 120%;
  text-transform: lowercase;
  margin-bottom: 24px;
}/*# sourceMappingURL=style.css.map */