.about {
    background-color: #fff;
    color: #222;
    padding: 80px 0;

    &__title {
        font-family: "Nunito Sans";
        font-size: 28px;
        font-weight: 800;
        line-height: 150%;
        /* 42px */
        margin-bottom: 10px;

        &_span {
            cursor: pointer;
            color: var(--main-color);
            text-decoration: none;
        }
    }

    &__main-block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
    }

    &__text {
        display: flex;
        flex-direction: column;
        font-family: "Nunito Sans";
        font-size: 16px;
        font-weight: 400;
        gap: 24px;
        max-width: 720px;
        line-height: 150%;
        // max-height: 424px;
    }

    &__btns {
        display: flex;
        gap: 24px;
        margin-top: 8px;
    }
}

@media screen and (max-width: 1400px) {
    .about{

        &__pictures{
            display: flex;
            align-items: center;
        }
    
        &__main-block{
            justify-content: flex-start;
            gap: 30px;
        }
    
        &__title{
            font-size: 24px;
    
            &_span{
                font-size: 24px;
            }
        }

        &__btns{
            margin-top: 12px;
        }
    }
}

@media screen and (max-width: 1000px) {
    .about{
        padding: 60px 0;

        &__pictures{
            display: none;  
        }

        &__img{
            display: none;
        }
    }
}

@media screen and (max-width: 540px) {
    .about{
        padding: 40px 0;

        &__title{
            font-size: 20px;
    
            &_span{
                font-size: 20px;
            }
        }

        &__btns{
            margin-top: 16px;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}