.button {
    display: flex;
    padding: 14px 22px;
    align-items: flex-start;
    border: 2px solid var(--main-color);
    background-color: var(--main-color);
    gap: 10px;
    color: #FFF;
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: 120%;
    /* 16.8px */
    text-transform: uppercase;
    white-space: nowrap;
    max-height: 49px;
    transition: 0.3s;
    cursor: url('./img/cursor/cursor_useful.svg'), auto;

    &:hover {
        background-color: #fff;
        color: var(--main-color);
    }

    &_gray {
        // max-width: 161px;
        color: var(--secondary-color);
        border: 2px solid #E6E6E6;
        background: #E6E6E6;

        &:hover {
            color: var(--secondary-color);
            background-color: #fff;
        }
    }
}