.container2{
    max-width: 1458px;
    width: 100%;
    margin: 0 auto;
    padding: 0 69px;
    overflow: auto scroll;

    &::-webkit-scrollbar {
        width: 0;
        height: 0;
    }
}

@media screen and (max-width: 700px) {
    .container2{
        padding: 0 24px;
    }   
}

@media screen and (max-width: 699px) {
    .container2{
        padding: 0;
    }
}