.feedback {
    // background: url('/img/bgfeedback.jpeg') lightgray 0px -546px / 100% 215.126% no-repeat, #D9D9D9;
    background-image: url('/img/bgfeedback.jpg');
    padding: 80px 0;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__slider{
        display: flex;
        gap: 8px;
        align-items: center;

        &_element path{
            fill: var(--main-color);
        }

        &_element line{
            stroke: var(--main-color);
        }
    }

    &__title {
        font-size: 28px;
        font-weight: 800;
        line-height: 150%;
        text-transform: uppercase;
        // white-space: nowrap;
    }

    &__hr {
        margin-bottom: 48px;
    }

    &__cards {
        display: inline-flex;
        gap: 24px;
        margin-bottom: 32px;
        margin-right: 24px;
    }

    &__card {
        display: flex;
        width: 648px;
        padding: 32px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        background: #FFF;
        box-shadow: 2px 2px 10px 0px rgba(33, 33, 33, 0.15);

        &_img {
            border-radius: 100px;
            max-width: 80px;
        }

        &_header {
            display: flex;
            align-items: center;
            gap: 24px;
            align-self: stretch;
        }

        &_about {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            flex: 1 0 0;
        }

        &_company {
            font-family: "Nunito Sans";
            font-size: 14px;
            font-weight: 300;
            line-height: 120%;
        }

        &_name {
            font-family: "Nunito Sans";
            font-size: 20px;
            font-weight: 700;
            line-height: 150%;
        }

        &_text {
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
        }

        &_icon {}
    }

    &__buttons {
        display: flex;
        gap: 24px;
    }
}

@media screen and (max-width: 1000px) {
    .feedback {
        &__card {
            width: 576px;
        }

        &__title {
            font-size: 24px;
        }
    }
}

@media screen and (max-width: 699px) {
    .feedback {

        &__cards {
            margin-left: 24px;
            margin-right: 30px;
        }

        &__title {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 450px) {
    .feedback {
        &__card {
            width: 340px;
            padding: 24px;
            margin: 0 auto;

            &_header {
                gap: 16px;
            }

            &_icon {
                display: none;
            }

            // &_no-mobile {
            //     display: none;
            // }
        }

        &__buttons{
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }
}