.footer {
    padding: 80px 0;
    background-color: var(--secondary-color);

    &__wrapper {
        display: flex;
    }

    &__hr {
        margin-bottom: 48px;
        width: 100%;
        height: 1px;
        opacity: 0.2;
        background: #8C8C8C;
        border: 0;
    }

    &__about {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 48px;

        &_text {
            max-width: 862px;
            color: #F8F5F4;
            font-size: 16px;
            font-weight: 400;
            line-height: 120%;
            text-transform: lowercase;
        }
    }

    &__company {
        display: flex;
        flex-direction: column;

        &_title {
            cursor: url('./img/cursor/cursor_useful.svg'), auto;
            color: #4F8FF0;
            font-size: 28px;
            font-weight: 900;
            line-height: 150%;
            text-transform: uppercase;
            text-decoration: none;
            margin-bottom: -10px;
        }

        &_text {
            cursor: url('./img/cursor/cursor_useful.svg'), auto;
            color: #FFF;
            font-size: 20px;
            font-weight: 900;
            line-height: 150%;
            text-transform: lowercase;
            text-decoration: none;
        }
    }

    &__contacts {
        display: flex;
        width: 419px;
        margin-right: 141px;
    }

    &__addresses {
        display: flex;
        flex-direction: column;
        gap: 24px;
        max-width: 419px;

        &_about {
            color: #8C8C8C;
            font-size: 12px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
        }

        &_contact {
            text-decoration: none;
            color: #FFF;
            font-size: 16px;
            font-weight: 700;
            line-height: 150%;
            transition: 0.3s;

            &:hover {
                color: #4F8FF0;
                cursor: url('./img/cursor/cursor_useful.svg'), auto;
            }
        }

        &_img {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 55px;
            background: #2C2C2C;
        }
    }

    &__locate {
        display: flex;
        gap: 24px;

        &_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            cursor: url('./img/cursor/cursor_useful.svg'), auto;
        }
    }

    &__telephone {
        display: flex;
        gap: 24px;

        &_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__email {
        display: flex;
        gap: 24px;

        &_text {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__links {
        display: flex;
        width: 312px;
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        margin-right: 24px;

        &_link {
            color: #FFF;
            text-align: center;
            font-size: 14px;
            font-weight: 700;
            line-height: 120%;
            text-transform: uppercase;
            cursor: url('./img/cursor/cursor_useful.svg'), auto;
            transition: 0.3s;

            &:hover {
                color: #4F8FF0;
            }
        }
    }

    &__leader {

        &_text {
            margin-bottom: 24px;
            max-width: 424px;
            color: #FFF;
            font-size: 14px;
            font-weight: 400;
            line-height: 150%;
        }
    }

    &__lawyer {
        margin-bottom: 16px;
        display: flex;
        width: 424px;
        align-items: center;
        gap: 24px;

        &_leader {
            display: flex;
            flex-direction: column;
        }

        &_name {
            color: #FFF;
            font-size: 20px;
            font-weight: 700;
            line-height: 150%;
        }

        &_about {
            color: #FFF;
            font-size: 14px;
            font-weight: 300;
            line-height: 120%;
        }

        &_img {
            width: 65px;
            height: 65px;
            flex-shrink: 0;
            border-radius: 100px;
            overflow: hidden;
            object-fit: cover;
            object-position: top;
        }
    }
}

@media screen and (max-width: 1350px) {
    .footer__contacts {
        margin-right: 0;
    }

    .footer__about_text {
        display: none;
    }

    .footer__links {
        display: none;
    }

    .footer__wrapper {
        justify-content: space-between;
    }
}

@media screen and (max-width: 1000px) {
    .footer {
        padding: 60px 0;

        &__about {
            margin-bottom: 24px;
        }
    }

    .footer__addresses {
        gap: 34px;

        &_about {
            font-size: 14px;
        }

        &_contact {
            font-size: 14px;
        }

        &_img {
            width: 45px;
            height: 45px;
        }

        &_ico {
            width: 24px;
            height: 24px;
        }
    }

    .footer__leader {
        max-width: 334px;
    }

    .footer__contacts {
        width: unset;
    }

    .footer__locate {
        gap: 16px;
    }

    .footer__telephone {
        gap: 16px;
    }

    .footer__email {
        gap: 16px;
    }

    .footer__lawyer {
        width: unset;
    }
}

@media screen and (max-width: 795px) {
    .footer__wrapper {
        gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        padding: 40px 0;
    }

    .footer__about {
        justify-content: center
    }

    .footer__hr {
        margin-bottom: 24px;
    }

    .footer__wrapper {
        flex-direction: column;
        gap: 40px;
    }

    .footer__addresses {
        gap: 16px;
    }
}