.header {
    padding: 10px 0;
    background-color: #000;

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        display: flex;
        gap: 20px;
    }

    &__phone,
    &__mail {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        gap: 8px;

        &_link {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
        }
    }

    &__call-btn {
        color: #4F8FF0;
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
    }
}
