.header {
    padding: 10px 0;
    background-color: #000;

    .header__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__contacts {
        display: flex;
        gap: 20px;
    }

    &__phone,
    &__mail {
        display: flex;
        flex-direction: row;
        align-items: center;
        white-space: nowrap;
        gap: 8px;
        
        &_link {
            color: #fff;
            text-decoration: none;
            font-size: 14px;
            transition: 0.3s;
            cursor: url('./img/cursor/cursor_useful.svg'), auto;

            &:hover{
                color: var(--main-color);
            }
        }
    }
    
    &__call-btn {
        cursor: url('./img/cursor/cursor_useful.svg'), auto;
        color: var(--main-color);
        text-decoration: none;
        padding: 5px 10px;
        border-radius: 5px;
        font-size: 14px;
    }
}

@media screen and (max-width: 600px) {
    .header__mail{
        display: none;
    }
}

@media screen and (max-width: 370px) {
    .header__phone{
        gap: 4px;
    }

    .header__phone_link{
        font-size: 12px;
    }

    .header__call-btn{
        font-size: 12px;
    }
}