.slider {
    background-image: url('./img/background_header.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    max-height: 820px;
    text-align: center;

    &__title {
        margin-top: 150px;
        color: #FFF;
        font-family: "Nunito Sans";
        font-size: 30px;
        font-weight: 300;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__subtitle {
        color: #4F8FF0;
        font-family: "Nunito Sans";
        font-size: 56px;
        font-weight: 600;
        line-height: 150%;
        text-transform: uppercase;
        margin-bottom: 8px;
    }

    &__text {
        margin-bottom: 48px;
    }

    &__description-text {
        color: #FFF;
        text-align: center;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 48px;
    }

    &__btn {
        display: inline-flex;
        padding: 16px 24px;
        align-items: flex-start;
        gap: 10px;
        border: 2px solid #4F8FF0;
        background: #4F8FF0;
        color: #FFF;
        text-align: center;
        font-family: "Nunito Sans";
        font-size: 14px;
        font-weight: 900;
        line-height: 120%;
        text-transform: uppercase;
        text-decoration: none;
    }
}