.nav {

    &__title {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
}

.main-nav {
    background-color: rgba(1, 1, 1, 0.76);
    padding: 15px 0;
    display: flex;
    white-space: nowrap;

    &__list {
        list-style: none;
        display: flex;
        gap: 32px;
        align-items: center;

    }

    &__link {
        color: #FFF;
        text-align: center;
        font-family: "Nunito Sans";
        font-size: 18px;
        font-weight: 700;
        line-height: 120%;
        text-decoration-color: transparent;
        transition: 0.3s;

        &:hover {
            color: var(--main-color);
            text-align: center;
            font-family: "Nunito Sans";
            font-size: 18px;
            font-weight: 700;
            line-height: 120%;
            text-decoration-color: var(--main-color);
        }
    }

    &__title {
        color: #FFF;
        font-family: "Nunito Sans";
        font-size: 20px;
        font-weight: 900;
        line-height: 150%;
        text-transform: lowercase;

        &__span {
            color: var(--main-color);
            font-family: "Nunito Sans";
            font-size: 28px;
            font-weight: 900;
            line-height: 150%;
            /* 42px */
            text-transform: uppercase;
            margin: 0;
        }
    }
}

.slider__wrapper {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1160px) {
    .main-nav__list {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .main-nav__title__span {
        font-size: 22px;
    }

    .main-nav__title {
        font-size: 16px;
    }
}


@media screen and (max-width: 1000px) {
    .main-nav__title__span {
        font-size: 20px;
    }

    .main-nav__title {
        font-size: 16px;
    }
}